<form accept-charset="UTF-8" action="/print_pa" class="new_user" id="new_user" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="mkXiv+b2WlnTspFxsBWrsPL1IYsHrUvaWXTTROTQ48Y="></div>

  <div class="field">
    <label for="user_name">Name</label><br>
    <input id="user_name" name="user[name]" type="text">
  </div>
  <div class="field">
    <label for="user_email">Email</label><br>
    <input id="user_email" name="user[email]" type="text">
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Submit">
  </div>
</form>